@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700');
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
}

html, body {
	height: 100%;
}

.login {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 25px;
    overflow: hidden;
    width: 28em;
    min-width: 500px;
    margin: 100px auto;
    position: relative;
    display: block;
}

.login .head {
    margin: 15px auto;
}

.login .form-control[type="submit"] {
    margin: 10px auto;
}

.login button {
    border: 1px solid #ccc;
    margin-bottom: 30px;
    text-decoration: none;
    display: block;
    width: 100%;
}

.login button.last {
    margin-bottom: 25px;
}

.login button a, .login button a:hover {
    color: #555;
    text-decoration: none;
}

.login form {
    margin-bottom: 10px;
}

.login div .user_avatar {
    position: fixed;
    left: 175px;
    top: 200px;
}

.user_avatar {
    justify-content:center;
    display: flex;
	margin-bottom: 20px;
}

.user_avatar img {
    width: 100px;
    height:100px;
    border-radius: 25px;
}

.clr {
	height: 384px;
}

.container {
	width: 1366px;
	margin: 0 auto;
	min-height: 100%;
}

.errorlist {
    color:red;
}