{% load staticfiles i18n %}
<div class="slider {{ class }} group_a">
    <ul>
        {% for product in products %}
            <li>
                <img class="slider_img" src="{{ product.pictures.get_slider.0.image.url }}" alt="{{ product.name }}">
                <div class="slider_text">
                    <h3>{% trans 'TRENDING' %}</h3>
                    <h2>{{ product.name }}</h2>
                    <p>{{ product.short_desc }}</p>
                    {% include 'mainapp/includes/inc_order_us.html' with product=product %}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>