{% load staticfiles i18n %}
<div class="line_menu">
    {% include 'mainapp/includes/inc_menu_products.html' with links=links_no_cat objects=links_menu_products %}
</div>
{% if is_paginated %}
    {% include 'mainapp/includes/inc_pagination.html' %}
{% endif %}

{% if object_list %}
    <div class="block_img group_c">
        {% include 'mainapp/includes/inc_products.html' with class='bbB_img' products=object_list %}
    </div>
{% else %}
    <p>{% trans 'Unfortunately, there are no products in this category yet.' %}</p>
{% endif %}
