{% load staticfiles i18n %}

<div class="header header_adaptive">
    <a href="{% url 'mainapp:main' %}" class="logo">
        <img src="{% static 'img/logo.png' %}" alt="logo">
    </a>
    <nav>
        <ul class="menu">
            {% for link in links_menu %}
                <li><a href="{% url link.href_app %}"
                       class="{% if link.href == current_url or link.href == page_url %}active_menu{% endif %}">
                    {{ link.name }}
                </a>
                </li>
            {% endfor %}
            {% if user.is_authenticated %}
                <li>
                    <a href="#">{% trans 'Hello, ' %}{{ user.first_name|default:user.username }}</a>
                    <ul>
                        {% if user.is_superuser or user.is_staff %}
                            <li><a href="{% url 'admin:index' %}">{% trans 'Admin panel' %}</a></li>
                        {% endif %}
                        <li><a href="{% url 'auth:edit' %}">{% trans 'Edit profile' %}</a></li>
                        <li><a href="{% url 'auth:logout' %}">{% trans 'Log out' %}</a></li>
                    </ul>
                </li>

            {% else %}
                <li><a href="{% url 'auth:login' %}">{% trans 'Log in' %}</a></li>
            {% endif %}
            <li><a href="{% url 'mainapp:search' %}" class="button_search"></a></li>
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <li>
                        <a href="{% url 'mainapp:staff_invoices' %}" class="button_invoices {% if invoices_count == 0 %}button_invoices_no{% endif %}">
                            <img src="{% static 'img/invoices.png' %}" alt="">
                            {% if invoices_count != 0 %}
                                <span class="invoices_count">{{ invoices_count }}</span>
                            {% endif %}
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a href="{% url 'mainapp:basket' %}" class="button_basket">
                        <img src="{% static 'img/basket.png' %}" alt="">
                        {% if basket_count != 0 %}
                            <span class="basket_count">{{ basket_count }}</span>
                        {% endif %}
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% include "mainapp/includes/inc_messages.html" %}
