{% load staticfiles i18n %}
<form method="post" action="{% url 'mainapp:edit_order' product.id %}">
    <button type="submit" name="add" value="{{ product.id }}" class="order_us">
        {% csrf_token %}
        {% trans 'Buy' %}<img src="{% static 'img/arrow.png' %}" alt="">
    </button>
</form>
