{% load staticfiles i18n %}
{% if user.is_superuser or user.is_staff %}
{% if current_url == 'catalog' %}
    <div class="{{ class }} product group_c">
        <img class="product_img" src="{% static 'img/navigate_add.png' %}" alt="{{ product.name }}">
        <div class="product_text">
            <a class="arrow" href="{% url 'mainapp:add_product' %}"></a>
            <h2>{% trans 'Add product' %}</h2>
        </div>
    </div>
{% endif %}
{% endif %}

{% for product in products %}
        <div class="{{ class }} product group_c">
            {% include 'mainapp/includes/inc_prod_picture_main.html' with class='product_img' %}
            <div class="product_text">
                <a class="arrow" href="{% url 'mainapp:product' product.id %}"></a>
                <h2>{{ product.name }}</h2>
                <p>{{ product.short_desc }}</p>
            </div>
        </div>
{% endfor %}
