{% load i18n %}
<div class="pagination group_c">
    <span>
    {% if page_obj.has_previous %}
        <p class="block-first">
        {% if page_obj.previous_page_number > 1 %}
            <a href="{{path}}?page=1">{% trans " << " %}</a>
        {% endif %}
            <a href="{{path}}?page={{ page_obj.previous_page_number }}"
               class="{% if page_obj.previous_page_number == 1 %}padd-one-button{% endif %}">{% trans " < " %}</a>
        </p>
    {% endif %}
    </span>

    <p class="{% if page_obj.has_previous and page_obj.has_next %}block
                {% elif page_obj.has_next %}block-first padd-bl-center
                    {% else %}block-last padd-bl-center{% endif %}">{% trans 'Page ' %}{{ page_obj.number }}{% trans ' of ' %}{{ paginator.num_pages }}</p>

    <span>
    {% if page_obj.has_next %}
        <p class="block-last">
        <a href="{{path}}?page={{ page_obj.next_page_number }}"
           class="{% if paginator.num_pages == page_obj.next_page_number %}padd-one-button{% endif %}">{% trans " > " %}</a>
            {% if paginator.num_pages != page_obj.next_page_number %}
                <a href="{{path}}?page={{ paginator.num_pages }}">{% trans " >> " %}</a>
            {% endif %}
        </p>
    {% endif %}
    </span>
</div>