{% load staticfiles i18n %}
<div class="block_img">

    {% if add %}
        <div class="bbA_img product group_c">
            <img class="product_img" src="{% static 'img/navigate_add.png' %}" alt="{{ image.name }}">
            <div class="product_text">
                <a class="arrow" href="{% url 'mainapp:add_picture' object.id %}"></a>
                <h2>{% trans 'Add picture' %}</h2>
            </div>
        </div>
    {% endif %}

    {% for image in images %}
        <div class="bbA_img  product group_c {% if is_slider %}bb_slider{% endif %}">
            <img class="product_img" src="{{ image.image.url }}" alt="{{ image.name }}">
            <div class="product_text">
                <h2>{{ image.name }}</h2>
                <a class="order_us" href="{% url 'mainapp:edit_picture' image.id %}">{% trans 'Edit' %}</a><br>
                <a class="order_us" href="{% url 'mainapp:del_picture' image.id %}">{% trans 'Delete' %}</a>
            </div>
        </div>
    {% endfor %}

</div>