{% load staticfiles i18n %}

{% for product in products %}
    <div class="{{ class }}">
        <div class="group_b">
            <img class="exclusive_img" src="{{ product.pictures.all.0.image.url }}" alt="{{ product.name }}">
            <div class="exclusive_text">
                <h3>{% trans 'Exclusive' %}</h3>
                <h2>{{ product.name }}</h2>
                <p>{{ product.short_desc }}</p>
                {% include 'mainapp/includes/inc_order_us.html' %}
            </div>
        </div>
    </div>
{% endfor %}