<td class="order-price">
    {% if ajax_price %}{{ ajax_price }}{% else %}{{ iter_price.price_user }}{% endif %}
</td>
<td class="order-total_cost">
    {% if ajax_price %}{{ ajax_price }}{% else %}{{ form.instance.get_total_cost }}{% endif %}
</td>