{% load i18n %}

{% for field in form.visible_fields %}
    <td>
        {% if forloop.first %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
        {% endif %}
        {{ field.errors.as_ul }}
        {{ field }}
    </td>
{% endfor %}

{% if object %}
    {% if form.ware.value %}
        {% if not ajax_price %}
            {% for iter_price in form.instance.ware.prices.all %}
                {% if iter_price.group == customer_status %}
                    {% include 'mainapp/includes/inc_price_staff_invoice.html' %}
                {% endif %}
            {% endfor %}

        {% else %}
            {% include 'mainapp/includes/inc_price_staff_invoice.html' %}
        {% endif %}

        <td><a href="{% url 'mainapp:product' form.ware.value %}" class="order_us">{% trans 'View' %}</a></td>
    {% else %}
        <td></td>
        <td></td>
        <td></td>
    {% endif %}
{% endif %}

<td class="delete_row"></td>