<ul class="messages padding-site">
    {% if messages %}
        {% for message in messages %}
            {% if forloop.last %}<li>{{ message|safe }}</li>{% endif %}
        {% endfor %}
    {% else %}
        <li></li>
    {% endif %}
</ul>