{% load staticfiles i18n %}
{% with current_kwargs=request.resolver_match.kwargs.href  %}
    <ul>

        {% for link in links %}
            <li class="no_cat">
                <form action="{% url link.href_app %}">
                    {% csrf_token %}
                    <input type="hidden" name="url" value="{{ link.href }}">
                    <a href="{% url link.href_app %}"
                       class="{% if link.href == current_url %}active_menu{% endif %}">
                        {% if page_url == '/' %}
                            {{ link.name|capfirst }}
                        {% else %}
                            {{ link.name|upper }}
                        {% endif %}
                    </a>
                </form>
            </li>
        {% endfor %}

        {% for object in objects %}
            <li>
                <a href="{% url 'mainapp:category' object.href %}"
                   class="{% if object.href == current_kwargs %}active_menu{% endif %}">
                    {% if page_url == '/' %}
                        {{ object.name|capfirst }}
                    {% else %}
                        {{ object.name|upper }}
                    {% endif %}
                </a>
            </li>
        {% endfor %}


        {% if user.is_superuser or user.is_staff %}
            {% if current_url == 'catalog' or current_url == 'category' %}
                <li><a href="{% url 'mainapp:add_category' %}"><span>{% trans 'Add' %}</span></a></li>
                {% if current_kwargs %}
                    <li><a href="{% url 'mainapp:edit_category' current_kwargs %}">{% trans 'Edit' %}</a></li>
                    <li><a href="{% url 'mainapp:del_category' current_kwargs %}">{% trans 'Delete' %}</a></li>
                {% endif %}


            {% endif %}
        {% endif %}
    </ul>


{% endwith %}