{% if product.pictures.all %}
    <img class="{{ class }}" src="{{ product.pictures.get_main.0.image.url }}" alt="{{ product.name }}">
    {% if product.category.discount != 0 %}
        <span class="discount">-{{product.category.discount}}%</span>
        <span class="discount_line1"></span>
        <span class="discount_line2"></span>
    {% endif %}
    {% else %}
    <img class="{{ class }}" src="/media/products_images/default_product.jpg" alt="">
{% endif %}