<!DOCTYPE html>
{% load staticfiles i18n %}
<html>
<head>
	<meta charset="utf-8">
	<title>
        {% block title %}
            {{ title|title }}
        {% endblock %}
    </title>

    {% block css %}
        <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
        <link rel="stylesheet" href="{% static 'authapp/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'authapp/css/style.css' %}">
    {% endblock %}

    {% block js_script %}
        <script src="{% static 'js/jquery_3_2_1_min.js' %}?v={{ VERSION }}"></script>
        <script src="{% static 'authapp/js/bootstrap-filestyle.min.js' %}?v={{ VERSION }}"></script>
        <script src="{% static 'authapp/js/script.js' %}?v={{ VERSION }}"></script>
       {% endblock js_script %}
</head>
<body>
	<div class="container">
         <div class="login">
            <div class="h2 text-center head">
                {% block name_page %}
                    {% trans 'Login to the system' %}
                {% endblock %}
            </div>
            {% block content %}
            {% endblock %}
        </div>
	</div>
</body>
</html>