{% extends 'authapp/base.html' %}
{% load staticfiles i18n %}

{% block name_page %}
    {% trans 'Edit Profile' %}
{% endblock %}
{% block content %}
    <div class="user_avatar"><img src="{{ user.avatar.url }}"></div>
    <form class="form-horizontal" action="{% url 'auth:edit' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="form-control" type="submit" value="Save">
    </form>
    <a href="{% url 'authapp:edit_password' %}" class="">
        <button class="btn btn-round form-control">
            {% trans 'Change password' %}
        </button>
    </a>
    {% include 'authapp/includes/snip_button_home.html' %}

{% endblock %}
