{% extends 'authapp/base.html' %}
{% load staticfiles i18n %}
{% block title %}
    {{ title|title }}
{% endblock %}

{% block content %}
    <form class="form-horizontal" action="{% url 'auth:login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <input class="form-control" type="submit" value="Sign in">
    </form>
    <a href="{% url 'auth:register' %}" class="">
        <button class="btn form-control">
            {% trans 'Sign up' %}
        </button>
    </a>


    <div class="h2 text-center head">{% trans 'Sign in with social network' %}</div>
    {% if google_in_closed or vk_in_closed %}
        <div class="alert alert-info">
            {% trans 'Sign in with' %}
            {% if google_in_closed %}Google+{% endif %}
            {% if google_in_closed and vk_in_closed %}, {% endif %}
            {% if vk_in_closed %}VK{% endif %}
            {% trans ' inactive due to confidentiality. If you are a developer, enter SECRET_API_KEY in settings.py for activation.' %}
        </div>
    {% endif %}

    <a href="{% url 'social:begin' 'google-oauth2' %}">
        <input {{ google_in_closed }} class="form-control" type="submit"  value="{% trans 'Google+' %}">
    </a>
    <a href="{% url 'social:begin' 'vk-oauth2' %}">
        <input {{ vk_in_closed }} class="form-control" type="submit" value="{% trans 'VK' %}">
    </a>


    <div class="h2 text-center head">{% trans 'Quick access' %}</div>
    <a href="{% url 'auth:quick_login' 'test' %}"><input class="form-control" type="submit" value="{% trans 'Login as User' %}"></a>
    <a href="{% url 'auth:quick_login' 'manager' %}"><input class="form-control" type="submit" value="{% trans 'Login as Manager' %}"></a>


    {% include 'authapp/includes/snip_button_home.html' %}
{% endblock %}
