{% extends 'authapp/base.html' %}
{% load staticfiles i18n %}

{% block name_page %}
    {{ title }}
{% endblock %}
{% block content %}
    <div class="user_avatar"><img src="{{ user.avatar.url }}"></div>
    <form class="form-horizontal" action="{% url 'auth:edit_password' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="form-control" type="submit" value="Save">
    </form>
    {% include 'authapp/includes/snip_button_home.html' %}
{% endblock %}
