<!DOCTYPE html>
{% load staticfiles i18n %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{ object.verbose_name }}
            {{ object_list.model.verbose_name_plural }}
        {% endblock %}
    </title>
    <link rel="shortcut icon" type="icon" href="{% static 'img/favicon.ico' %}"/>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    {% endblock %}

    {% block js_script %}
        <script src="{% static 'js/jquery_3_2_1_min.js' %}?v={{ VERSION }}"></script>
    {% endblock js_script %}
</head>

<body class="{% block class_page %}
             {% endblock %}">

<div class="container">

    {% block content %}
    {% endblock %}

    <footer class="footer padding_site footer_adaptive">
        <div class="footer_head footer_adaptive">
            <div class="contacts">
                <h3>{% trans 'Contact Us' %}</h3>
                <p>{% trans '132A Bridge Road Richmond VIC&nbsp;Australia.' %}<br><br>{% trans 'Talk to&nbsp;us on&nbsp;1300&nbsp;132 info@interior.com' %}
                </p>
            </div>

            <div class="useful_info">
                <h3>{% trans 'Useful Information' %}</h3>
                <nav>
                    <ul>
                        <li><a href="/additional/about/">{% trans 'Sales terms' %}</a></li>
                        <li><a href="/additional/customer_care/">{% trans 'Customer care' %}</a></li>
                        <li><a href="/additional/careers/">{% trans 'Delivery' %}</a></li>
                    </ul>
                </nav>
                <nav>
                    <ul>
                        <li><a href="/additional/customer_care/">{% trans 'Architect accounts' %}</a></li>
                        <li><a href="/additional/careers/">{% trans 'Careers' %}</a></li>
                        <li><a href="/additional/about/">{% trans 'Exchanges &amp;&nbsp;returns' %}</a></li>
                    </ul>
                </nav>
            </div>

            <div class="follow_email">
                <h3>{% trans 'Let&rsquo;s Stay in&nbsp;Touch!' %}</h3>
                <p>{% trans 'Suscribe to&nbsp;know about our latest news, products and special offers just for suscribers.' %}</p>
                <div class="email">
                    <input type="email" placeholder="your email address">
                    <button class="button_email" type="submit"><i class="fa fa-paper-plane-o"></i></button>
                </div>
            </div>
        </div>
        <div class="footer_foot">
            <h4>{% trans '&copy;&nbsp;Copyright&nbsp;&mdash; INTERIOR 2016. All Rights Reserved.' %}</h4>
            <div class="block_icon_soc">
                <a href="#" class="icon_soc icon_fb"><i class="fa fa-facebook"></i></a>
                <a href="#" class="icon_soc icon_tw"><i class="fa fa-twitter"></i></a>
                <a href="#" class="icon_soc icon_gp"></a>
                <a href="#" class="icon_soc icon_pt"><i class="fa fa-pinterest-p"></i></a>
            </div>
            <h4><a href="/additional/terms/">{% trans 'Terms &amp;&nbsp;Conditions' %}</a> /
                <a href="/additional/terms/">{% trans 'Privacy policy &amp;&nbsp;Cookies' %}</a></h4>
        </div>

    </footer>

</div>
</body>

</html>