{% extends "mainapp/base.html" %}
{% load i18n %}

{% block class_page %}
    page_contacts
{% endblock %}

{% block content %}

    <header class="header_noslider padding_site">

        {% include 'mainapp/includes/inc_menu.html'%}

        <div class="slider_text group_a">
            <h2>{% trans 'Contact Us' %}</h2>
        </div>

    </header>
    <main class="content">

        <section class="block_contact_maps padding_site">
            <div class="block_img">
                {% with contacts=object_list  %}
                    {% for contact in contacts %}
                        <div class="bbB_img">
                            <div class="contact_text group_c">
                                <a class="arrow" href="#"></a>
                                <h2>{{contact.country }}</h2>
                                <h3>{% trans 'Phone:' %}</h3>
                                <p class="p_f_bold">{{ contact.phone }}</p>
                                <h3>{% trans 'Email:' %}</h3>
                                <p class="p_f_bold">{{ contact.email }}</p>
                                <h3>{% trans 'Address:' %}</h3>
                                <p>{{ contact.address }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endwith %}

            </div>
        </section>


    </main>

{% endblock %}