{% extends "mainapp/base.html" %}
{% load i18n %}
{% block title %}
    {{ caption }}
{% endblock %}

{% block class_page %}
    page_contacts
{% endblock %}

{% block content %}

<header class="header_noslider padding_site">

    {% include 'mainapp/includes/inc_menu.html'%}

    <div class="slider_text group_a">
       <h2>{% trans 'Oops!' %}</h2>
    </div>

</header>
<main class="content">


    <section class="block_contact_maps padding_site">
         <div class="block_img group_c">
             <h2>{% trans 'Page in develop' %}</h2>
         </div>
    </section>


</main>

{% endblock %}