{% extends "mainapp/base.html" %}
{% load staticfiles i18n %}
{% block title %}
    {{ caption }}
{% endblock %}

{% block js_script %}
    {{ block.super }}
    <script src="{% static 'js/script.js' %}?v={{ VERSION }}"></script>
{% endblock js_script %}

{% block content %}

    <header class="head_slider padding_site">

        {% include 'mainapp/includes/inc_menu.html' with page_url='main' %}
        {% include 'mainapp/includes/inc_slider.html' with class='slider-1' products=products_slider_1 %}

    </header>
    <main class="content">

        <section class="new_item padding_site">
            <div class="line_menu">
                {% include 'mainapp/includes/inc_menu_products.html' with page_url='/' links=links_no_cat %}
                {% include 'mainapp/includes/snip_explore_all.html'%}
            </div>

            <div class="block_img">
                    {% include 'mainapp/includes/inc_products.html' with class='bbA_img' products=products_featORnew %}
            </div>
        </section>


        <section class="exclusive">
            {% include 'mainapp/includes/inc_exclusive.html' with class='exclusive_a' products=products_exclusive_1 %}
        </section>



        <section class="trend padding_site">
            <div class="line_menu">
                <h3>{% trans 'Trending Products' %}</h3>
                {% include 'mainapp/includes/snip_explore_all.html'%}
            </div>

            <div class="block_img">
                {% include 'mainapp/includes/inc_products.html' with class='bbB_img' products=products_trend_1 %}
            </div>
        </section>


        <section class="padding_site">
            {% include 'mainapp/includes/inc_slider.html' with class='slider-2 ' products=products_slider_2 %}
        </section>

        <section class="block_exclusive_2 padding_site">
            <div class="block_img">
                {% include 'mainapp/includes/inc_exclusive.html' with class='exclusive_b' products=products_exclusive_2 %}

                <div class="bbC_img">
                    {% include 'mainapp/includes/inc_products.html' with class='bbA_img' products=products_trend_2 %}
                </div>
            </div>

        </section>

        <section class="follow_apps group_d padding_site">
            <h3>{% trans 'mobile app' %}</h3>
            <h2>{% trans 'Find. Follow. Favorite.' %}</h2>
            <p>{% trans 'Save your favorites and share your style.' %}</p>
            <a class="button_apps" href="#"><img src="{% static 'img/app-store.png' %}" alt="{% trans 'App-store' %}"></a>
            <a class="button_apps" href="#"><img src="{% static 'img/google-play.png' %}" alt="{% trans 'Google-store' %}"></a>
        </section>
    </main>

{% endblock %}