{% extends "mainapp/base.html" %}
{% load staticfiles i18n %}
{% block title %}
    {{ caption }}
{% endblock %}

{% block js_script %}
    {{ block.super }}
    <script src="{% static 'js/basket.js' %}?v={{ VERSION }}"></script>
{% endblock js_script %}

{% block class_page %}
    page_contacts
{% endblock %}


{% block content %}

    <header class="header_noslider padding_site">

        {% include 'mainapp/includes/inc_menu.html'%}

        <div class="slider_text group_a">
            <h2>{% trans 'Basket' %}</h2>
        </div>

    </header>
    <main class="content">

        <section class="block_contact_maps padding_site">

            {% if object and object.orders.count %}
                {% include './order_form.html' with object_list=object.orders.all %}

                <div class="center">
                    <h2 class="total_cost">{% trans 'Total cost: ' %}<span>{{ object.get_total_cost }}</span>$</h2>
                    <br>
                    <form method="post" action="{% url 'mainapp:edit_invoice' %}">
                        {% csrf_token %}
                    <button type="submit" name="confirm" value="buy" class="order_us">{% trans 'Confirm' %}</button>
                </form>
                </div>
            {% elif messages %}
                <h2>{% trans 'Thanks for your order!' %}</h2>
                <h2>{% trans 'Our manager will contact you soon.' %}</h2>
                <h2>{% trans 'Your order number №' %}{{ invoice_number }}</h2>
            {% else %}
                <h2>{% trans 'No orders' %}</h2>
            {% endif %}
        </section>

    </main>

{% endblock %}