{% extends "mainapp/base.html" %}
{% load staticfiles i18n %}
{% block title %}
    {{ caption }}
{% endblock %}

{% block class_page %}
    page_contacts
{% endblock %}

{% block content %}

    <header class="header_noslider padding_site">

        {% include 'mainapp/includes/inc_menu.html'%}

        <div class="slider_text group_a">
            <h2>{{ title }}</h2>
        </div>

    </header>
    <main class="content">

        <section class="block_contact_maps padding_site center">

            <a href="{% url 'mainapp:add_staff_invoice' %}" class="order_us">{% trans 'Create order'|upper %}</a><br>

            {% if object_list %}

                <div class="table_invoices">
                    <span class="tr">
                        <span class="td"></span>
                        <span class="td">{% trans 'Number order ' %}</span>
                        <span class="td">{% trans 'Customer ' %}</span>
                        <span class="td">{% trans 'Status' %}</span>
                        <span class="td">{% trans 'Time of order' %}</span>
                    </span>

                    {% for object in object_list %}
                        <a href="{% url 'mainapp:edit_staff_invoice' object.pk %}"
                           class="tr {% if object.status == object.SENT_TO_PROCEED %}inv_sent_to_proceed{% endif %}">
                            <span class="td">{{ forloop.counter }}</span>
                            <span class="td">{{ object.pk }}</span>
                            <span class="td">{{ object.user }}</span>
                            <span class="td">{{ object.get_status_display  }}</span>
                            <span class="td">{{ object.date_order|date:"Y-m-d H:i:s" }}</span>
                        </a>
                    {% endfor %}
                </div>

            {% if is_paginated %}
                {% include './includes/inc_pagination.html' %}
            {% endif %}

            {% else %}
                <h2>{% trans 'No invoices' %}</h2>
            {% endif %}
        </section>

    </main>

{% endblock %}