{% extends "mainapp/base.html" %}
{% load staticfiles i18n %}
{% block title %}
    {{ caption }}
{% endblock %}

{% block js_script %}
    {{ block.super }}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/invoice.js' %}?v={{ VERSION }}"></script>
{% endblock js_script %}

{% block class_page %}
    page_contacts
{% endblock %}

{% block content %}

    <header class="header_noslider padding_site">

        {% include 'mainapp/includes/inc_menu.html'%}

        <div class="slider_text group_a">
            <h2>{{ title }}{{ object.pk }}</h2>
        </div>

    </header>
    <main class="content">

        <section class="block_contact_maps padding_site center">
            <form method="post" action="" class="default_form_create form_invoice {% if not object %}form_invoice_no{% endif %}">
                {% csrf_token %}

                {% if object %}
                    <div class="customer_info">
                        <h3>{% trans 'Name:' %} {{ customer_full_name }}</h3>
                        <h3>{% trans 'Username:' %} {{ customer_username }}</h3>
                        <h3>{% trans 'Email:' %} {{ customer_email }}</h3>
                        <h3>{% trans 'Customer status:' %} {{ customer_status }}</h3>
                    </div>
                {% endif %}

                {{ form }}
                {{ orders.management_form }}
                {{ orders.non_form_errors }}

                <table class="table_invoice">
                    {% for form in orders %}

                        {% if forloop.first %}
                            <thead>
                            <tr>
                                {% for field in form.visible_fields %}
                                    {% if field.name != 'DELETE' %}
                                        <th>{{ field.label|capfirst }}</th>
                                    {% endif %}
                                {% endfor %}

                                {% if object %}
                                    <th>{% trans 'Cost per unit' %}</th>
                                    <th>{% trans 'Cost' %}</th>
                                    <th>{% trans 'View product' %}</th>
                                {% endif %}
                            </tr>
                            </thead>
                        {% endif %}

                        <tr class="formset_row">
                            {% include 'mainapp/includes/inc_order_formset.html' %}
                        </tr>

                    {% endfor %}
                </table>

                {% if object %}
                    <h3 class="total_cost">{% trans 'Total cost:' %} <span>{{ object.get_total_cost }}</span>$</h3>
                    <h3 class="total_count">{% trans 'Total count:' %} <span>{{ object.get_total_count }}</span></h3>
                {% endif %}

                <span class="center">
                    <button type="submit" name="confirm" value="buy" class="order_us_red">{% trans 'Save' %}</button>
                </span>
            </form>

            <a href="{% url 'mainapp:staff_invoices' %}" class="order_us">{% trans 'To orders'|upper %}</a>

        </section>

    </main>

{% endblock %}