{% load staticfiles i18n %}

{% for object in object_list %}
    <div class="block_img group_c basket_list">
        <a class="bbA_img group_c" href="{% url 'mainapp:product' object.ware.id %}">
            {% include 'mainapp/includes/inc_prod_picture_main.html' with class='product_img' product=object.ware %}
        </a>
        <p>{{ object.ware }}</p>
        <p>{% trans 'Price: ' %}
            {% for iter_price in  object.ware.prices.all %}
                {% if iter_price.group == user.status %}
                    {{ iter_price.price_user }}$
                {% endif %}
            {% endfor %}
        </p>
        <p class="count">{% trans 'Counts: ' %}<span>{{ object.count }}</span></p>
        <div>
            <form method="post" action="{% url 'mainapp:edit_order' object.ware.id %}">
                {% csrf_token %}
                <button onclick="editOrder(this);return false;" type="submit" name="count_up" value="{{ object.ware.id }}" class="order_us">{% trans '+' %}</button>
            </form>
            <br>
            <form method="post" action="{% url 'mainapp:edit_order' object.ware.id %}">
                {% csrf_token %}
                <input type="hidden" name="count_down">
                <button onclick="editOrder(this);return false;" type="submit" name="count_down" value="{{ object.ware.id }}" class="order_us">{% trans '-' %}</button>
            </form>
            <br>
            <form method="post" action="{% url 'mainapp:del_order' object.ware.id %}">
                {% csrf_token %}
                <button type="submit" name="delete" value="{{ object.ware.id }}" class="order_us">{% trans 'Delete' %}</button>
            </form>
        </div>
    </div>
{% endfor %}
