{% extends "mainapp/base.html" %}
{% load staticfiles i18n %}

{% block title %}
    {{ caption }}
{% endblock %}

{% block js_script %}
    {{ block.super }}
    <script src="{% static 'authapp/js/bootstrap-filestyle.min.js' %}?v={{ VERSION }}"></script>
    <script src="{% static 'authapp/js/script.js' %}?v={{ VERSION }}"></script>
{% endblock js_script %}

{% block class_page %}
    page_contacts
{% endblock %}

{% block content %}

    <header class="header_noslider padding_site">

        {% include 'mainapp/includes/inc_menu.html'%}

        <div class="slider_text group_a">
            <h2>{{ caption }}</h2>
        </div>

    </header>
    <main class="content">

        <section class="block_contact_maps padding_site">
            <div class="center">
                <img class="image_edit" src="{{ object.image.url }}" alt="">
                <form class="default_form_create" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" class="order_us" value="Save">
                    <input type="hidden" name="related_obj" value="{{ related_obj }}">
                </form>
            </div>
        </section>

    </main>

{% endblock %}