{% extends "mainapp/base.html" %}
{% load i18n %}
{% block title %}
    {{ caption }}
{% endblock %}

{% block class_page %}
    page_contacts
{% endblock %}

{% block content %}

    <header class="header_noslider padding_site">

        {% include 'mainapp/includes/inc_menu.html'%}

        <div class="slider_text group_a">
            <h2>{% trans 'Delete picture' %}</h2>
        </div>

    </header>
    <main class="content">


        <section class="block_contact_maps padding_site">
            <div class="delete_product group_c">
                <h2>{% trans 'Do you really want to delete this?' %}</h2>
                <h2>{{ object.verbose_name }}</h2>
                <h2>{{ object.name }}</h2>
                <div class="center">
                    <img class="product_id_img" src="{{ object.image.url }}" alt="">
                </div>
                <p></p>

                <a href="{% url 'mainapp:edit_product' object.related_obj.id %}" class="order_us">{% trans 'Return back' %}</a>
                <form class="product_id" method="post" >
                    {% csrf_token %}
                    <input type="submit" value="{% trans 'Delete' %}" class="order_us" style="display: inline-block">
                </form>

            </div>
        </section>


    </main>

{% endblock %}