{% extends "mainapp/base.html" %}
{% load staticfiles i18n %}

{% block title %}
    {{ caption }}
{% endblock %}

{% block class_page %}
    page_contacts
{% endblock %}

{% block content %}

    <header class="header_noslider padding_site">

        {% include 'mainapp/includes/inc_menu.html' %}

        <div class="slider_text group_a">
            <h2>{{ caption }}</h2>
        </div>

    </header>
    <main class="content">

        <section class="block_contact_maps padding_site product_id">
            <div class="center">
                <form class="default_form_create" method="post">
                    {% csrf_token %}
                    {{ form }}
                    {{ prices.management_form }}
                    {{ prices.non_form_errors }}

                    <label>{% trans 'Prices of the product depending on the customer status:' %}</label>

                    {% for form in prices.forms %}
                        <div class="prices_in_form_product">
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            {{ field.errors.as_ul }}

                            {% for field in form.visible_fields %}
                                {% if field.name == 'group' %}
                                <span class="not-allowed">
                                {% endif %}
                                    {{ field.label_tag }}
                                    {{ field }}
                                </span>
                            {% endfor %}
                        </div>

                    {% endfor %}
                    <input class="order_us" type="submit" value="Save">
                </form>
                {% if object %}
                    <a href="{% url 'mainapp:del_product' object.id %}" class="order_us">{% trans 'Delete'|upper %}</a>
                {% endif %}
            </div>
        </section>

        <section class="block_contact_maps padding_site">
            {% if object %}

                <h3>{% trans 'Edit pictures:' %}</h3>
                {% include 'mainapp/includes/inc_picture_edit.html' with add=True images=object.pictures.get_main %}

                {% if object.pictures.get_slider %}
                    <h3>{% trans 'Slider picture:' %}</h3>
                    {% include 'mainapp/includes/inc_picture_edit.html' with is_slider=True images=object.pictures.get_slider %}
                {% endif %}

                {% if object.pictures.get_inactive %}
                    <h3>{% trans 'Inactive pictures:' %}</h3>
                    {% include 'mainapp/includes/inc_picture_edit.html' with images=object.pictures.get_inactive %}
                {% endif %}

            {% endif %}
        </section>

    </main>

{% endblock %}