{% extends "mainapp/base.html" %}
{% load staticfiles i18n %}

{% block title %}
    {{ caption }}
{% endblock %}

{% block class_page %}
    page_contacts
{% endblock %}

{% block content %}

    <header class="header_noslider padding_site">

        {% include 'mainapp/includes/inc_menu.html'%}

        <div class="slider_text group_a">
            <h2>{{ caption }}</h2>
        </div>

    </header>
    <main class="content">

        <section class="block_contact_maps padding_site product_id">
            <div class="center">
                <form class="default_form_create" method="post" >
                    {% csrf_token %}
                    {{ form }}
                    <input class="order_us" type="submit" value="Save">
                </form>
                {% if object %}
                    <a href="{% url 'mainapp:del_category' object.href %}" class="order_us">{% trans 'Delete'|upper %}</a>
                {% endif %}
            </div>
        </section>

    </main>

{% endblock %}