{% extends "mainapp/base.html" %}
{% load staticfiles i18n %}
{% block title %}
    {{ caption }}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
{% endblock %}

{% block js_script %}
    {{ block.super }}
    <script src="{% static 'js/gallery.js' %}?v={{ VERSION }}"></script>
{% endblock js_script %}

{% block content %}

    <header class="header_min padding_site">
        {% include 'mainapp/includes/inc_menu.html' %}
    </header>

    <main class="content">
        {% with product=object %}
            <section class="product_id padding_site">

                <div class="product_id_images">
                    {% include 'mainapp/includes/inc_prod_picture_main.html' with class='product_id_img' %}
                    {% for picture in product.pictures.get_main %}
                        {% if not forloop.first %}
                            <img class="product_id_mini" src="{{ picture.image.url }}" alt="">
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="product_desc">
                    <h2>{{ product.name }}</h2>

                    {% if price_without_discount != price_now %}
                        <h3>{% trans 'HOT DEAL' %}</h3>
                        <p class="price price_old">$&nbsp;<span>{{ price_without_discount }}</span> /sq</p>
                    {% endif %}
                    <p class="price">$&nbsp;<span>{{ price_now }}</span> /sq</p>

                    {% include 'mainapp/includes/inc_buy.html' %}
                    {% if user.is_superuser or user.is_staff %}
                        <a href="{% url 'mainapp:edit_product' object.id %}" class="order_us">{% trans 'Edit product'|upper %}</a></li>
                    {% endif %}

                    {{ product.description|linebreaks }}

                </div>
            </section>
        {% endwith %}

        <section class="trend padding_site">
            <div class="line_menu">
                <h3>{% trans 'Related Products' %}</h3>
                {% include 'mainapp/includes/snip_explore_all.html' %}
            </div>
            <div class="block_img">
                {% if object_list %}
                    {% include 'mainapp/includes/inc_products.html' with class='bbB_img' products=object_list|slice:':3' %}
                {% else %}
                    {% trans 'Related products not found' %}
                {% endif %}
            </div>
        </section>


    </main>
{% endblock %}