{% extends "mainapp/base.html" %}
{% load staticfiles i18n %}
{% block title %}
    {{ caption }}
{% endblock %}

{% block class_page %}
    page_catalog
{% endblock %}

{% block js_script %}
    {{ block.super }}
    <script src="{% static 'js/category_switch.js' %}?v={{ VERSION }}"></script>
{% endblock js_script %}

{% block content %}

    <header class="header_noslider padding_site">

        {% include 'mainapp/includes/inc_menu.html' with page_url='catalog'%}

        <div class="slider_text group_a">
            <h2>{% trans 'Our Products Range' %}</h2>
        </div>

    </header>
    <main class="content">

        <section class="trend padding_site">
            {% include 'mainapp/includes/inc_categories.html' %}
        </section>

        <section class="exclusive">
            {% include 'mainapp/includes/inc_exclusive.html' with class='exclusive_a' products=products_exclusive|slice:":2" %}
        </section>

    </main>
{% endblock %}
