{% extends "mainapp/base.html" %}
{% load i18n %}
{% block title %}
    {{ caption }}
{% endblock %}

{% block class_page %}
    page_catalog
{% endblock %}

{% block content %}

    <header class="header_noslider padding_site">

        {% include 'mainapp/includes/inc_menu.html'%}

        <div class="slider_text group_a">
            <h2>{% trans 'Search' %}</h2>
        </div>

    </header>
    <main class="content">

        <section class="block_contact_maps padding_site">
            <div class="default_form_create">
                <form method="post">
                    {% csrf_token %}
                    <div class="search_inline">
                        <input type="text" name="search" size="70" placeholder="{% trans 'Input for search' %}">
                        <input type="submit" value="{% trans 'Search' %}" class="order_us">
                    </div>
                    <p>{% trans 'Search in:' %}</p>
                    <p><input type="checkbox" name="search_in" value="category" checked>{% trans 'Category name' %}</p>
                    <p><input type="checkbox" name="search_in" value="name" checked>{% trans "Product's name"%}</p>
                    <p><input type="checkbox" name="search_in" value="description" checked>{% trans "Product's description"%}</p>
                </form>
            </div>

            {% if search_phrase %}
                <h4>{% trans 'Products found for a given phrase: ' %}"{{ search_phrase }}"</h4>
                <br>
                {% if not object_list %}
                    <p>{% trans 'Product not found' %}</p>
                {% endif %}
            {% endif %}
            {% if object_list %}

                <br>
                <div class="block_img group_c">
                    {% include 'mainapp/includes/inc_products.html' with class='bbB_img' products=object_list %}
                </div>

            {% endif %}

        </section>


    </main>

{% endblock %}