.galleryWrapper__screen {
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  opacity: 0.8;
  position: fixed;
  top: 0;
  z-index: 100;
  display: block;
  text-align: center;
}
.galleryWrapper__image {
  max-height: 80%;
  max-width: 80%;
  z-index: 101;
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.galleryWrapper__close {
  z-index: 102;
  position: absolute;
  top: 0;
  right: 0;
  height: 14%;
  width: 8%;
  background: url('../img/gallery/close.png') no-repeat center;
}
.galleryWrapper__close:hover {
  background-color: #838383;
}
.galleryWrapper__next,
.galleryWrapper__back {
  z-index: 101;
  position: absolute;
  top: 0;
  height: 100%;
  width: 8%;
}
.galleryWrapper__next:hover,
.galleryWrapper__back:hover {
  background-color: #474747;
}
.galleryWrapper__next {
  right: 0;
  background: url('../img/gallery/img_next.png') no-repeat center;
}
.galleryWrapper__back {
  left: 0;
  background: url('../img/gallery/img_back.png') no-repeat center;
}
/*# sourceMappingURL=gallery.css.map */