@width-site: 1366px;
@padding-site: 98px;

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;

}

.slider {
    margin: 0px -@padding-site;
    min-height: 800px;
    max-width: @width-site;
    position: relative;
    overflow: hidden;

    .slider_img {
        position: absolute;
        z-index: -2;
    }
    .slider_text {
        padding-left: @padding-site;
    }

}

.slider-2 {
    margin-bottom: 120px;
}

.slider ul,
.slider li {
    list-style-type: none;
}

.slider ul {
    width: 9999px;
}

.slider ul li {
    float: left;
    width: @width-site;
}

.container {
    max-width: @width-site;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.head_slider {
    position: relative;

    .slider {
        margin-top: -90px;
    }

    .slider_text {
        padding-top: 370px;
    }
}

.header_noslider {
    margin: 0;
    padding: 0;
    min-height: 360px;
    background: #f5f5f5;
}


.header_min {
    margin: 0;
    padding: 0;
    min-height: 200px;
    background: #fff;
}

.page_catalog .slider_text,
.page_contacts .slider_text {
    margin-top: 168px;
}

.menu {
    display: flex;
    list-style: none;
    padding-top: 57px;

    a {
        display: block;
        padding: 10px 13px;
        color: #8c8c8c;
        font-size: 14px;
        line-height: 10px;
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase;
        border-bottom: 1px solid transparent;

        &:hover {
            color: #212121;
            border-bottom: 1px solid #212121;
        }
    }

    .active_menu {
        color: #212121;
        font-weight: 700;
        border-bottom: 3px solid #212121;

        &:hover {
            border-bottom: 3px solid #212121;
        }
    }

    .button_search,
    .button_basket,
    .button_invoices{
        padding: 4px 8px;
        width: 23px;
        height: 23px;
        margin-right: 5px;
        transition: 0.5s;
        display: flex;
    }

    .button_search {
        background: url("../img/search.png") no-repeat center;
    }

    .button_basket,
    .button_invoices{
        width: 60px;

        .basket_count,
        .invoices_count{
            width: 23px;
            height: 23px;
            display: flex;
            align-self: center;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;
            background-color: red;
            border-radius: 100px;
            color: #fff;
        }
        .invoices_count{
            background-color: #009eff;
        }
    }
    .button_invoices {
        width: 46px;
        margin-right: -13px;
        padding-right: 0;
    }

    .button_search:hover,
    .button_basket:hover,
    .button_invoices:hover{
        border-bottom: 1px solid transparent;
        transform: scale(1.3);
    }
    .button_invoices:hover{
        padding-left: 0;
        margin-right: -5px;
        margin-left: 5px;
    }
    .button_invoices_no:hover{
        padding-left: 4px;
        width: 36px;
    }
    .button_basket:hover{
        margin-left: 15px;
    }

    ul {
        display: none;
    }

    li {
        width: max-content;

        &:hover ul {
            display: block;
            width: content-box;
            position: absolute;
            border-collapse: collapse;
            list-style-type: none;
            border: 1px solid #c7c7c7;
            border-radius: 5px;
            background-color: #f5f5f5;
            li {
                padding: 5px 5px;
            }
            a {
                border-bottom: 0px;
            }
        }
    }
}


.padding_site {
    padding-left: @padding-site;
    padding-right: @padding-site;
}

.logo {
    margin-top: 63px;
}

.group_a h3 {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.group_a h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 50px;
    letter-spacing: -3px;
    margin-bottom: 24px;
}

.group_a p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    width: 458px;

    letter-spacing: -0.2px;
    margin-bottom: 32px;
}

.group_b h3 {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.group_b h2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -1px;
    text-transform: capitalize;
    margin-bottom: 14px;
}

.group_b p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    width: 374px;
    letter-spacing: -0.2px;
    margin-bottom: 34px;
}

.group_c h2 {
    font-size: 22px;
    line-height: 20px;
    margin-bottom: 23px;
}

.group_c p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    padding: 0 15px;
    letter-spacing: -0.2px;
    line-height: 24px;
}

.group_c a {
    text-decoration: none;
    color: #212121;
}

.group_d h3 {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.group_d h2 {
    margin-top: -16px;
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    letter-spacing: -4.5px;
    text-transform: uppercase;
    width: 420px;
    margin-bottom: 24px;

}

.group_d p {
    margin-top: -16px;
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.3px;
    margin-bottom: 33px;
}


.order_us {
    display: inline-block;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    font-family: sans-serif;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-decoration: none;
    border-radius: 22.5px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    border: 0px;
    text-align: center;

    span {
        padding-right: 19px;
    }

    &:hover img {
        filter: brightness(1000%);
        transition: all 1.5s;
    }

}

.order_us:hover,
.product_id .order_us:hover {
    background-color: orange;
    color: #fff;
    box-shadow: 4px 8px 18px 0.6px rgba(33, 33, 33, 0.35);
    transition: all 1s;
    cursor: pointer;
}

.nav_slider {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    bottom: 19px;

    span {
        border-radius: 50%;
        display: flex;
        margin: auto 5px;
        background-color: #9e9e9e;
        width: 30px;
        height: 30px;
        &:hover {
            background-color: #212121;
            cursor: pointer;
        }
    }

    .on {
        background-color: #212121;
        width: 40px;
        height: 40px;
    }
}




.content {
    flex-grow: 1;
}

.line_menu {
    margin-top: 80px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    color: #212121;
    font-weight: 700;

    a {
        border-bottom: 1px solid #6c6c6c;
        color: #6c6c6c;
        text-decoration: none;
        padding: 10px 15px 10px 9px;
        &:hover {
            color: #212121;
        }
    }

    ul {
        display: flex;
        font-size: 36px;
        line-height: 20px;
        list-style: none;
    }
    .active_menu {
        border-bottom: 3px solid #212121;
        color: #212121;
    }
    .explore-all {
        border-bottom: 1px solid transparent;
        color: #212121;
        font-size: 18px;
        padding: 10px 0px;
        text-transform: uppercase;
        letter-spacing: 2px;
        span {
            padding-right: 8px;
        }
    }
    .explore-all:hover {
        border-bottom: 1px solid #212121;
    }

}

.page_catalog .line_menu {
    ul {
        font-size: 18px;
        line-height: 20px;
    }
}

.block_img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bbA_img,
.bbB_img {
    border: 1px solid transparent;
}

.bbB_img:hover,
.bbA_img:hover {
    border: 1px solid #9c9c9c;
}

.bbA_img,
.bbA_img .product_text {
    width: 270px;
    height: 270px;
    margin-bottom: 15px;
}

.bbB_img,
.bbB_img .product_text,
.bbB_img .contact_text {
    width: 370px;
    height: 370px;
    margin-bottom: 28px;
}

.page_contacts .bbB_img {
    border: 1px solid #9c9c9c;
}

.bbC_img {
    width: 570px;
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bbA_img,
.bbB_img,
.bbC_img {
    position: relative;
}

.product_img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.image_edit{
  max-width: 800px;
  max-height: 500px;
}

.product_text,
.contact_text {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product_text {
    display: none;
}

.bbB_img .contact_text {
    .arrow {
        background: url("../img/icon_location.png") no-repeat;
        box-shadow: 0px 0px 0px;
        border-radius: 0px;
        margin-bottom: 25px;
        width: 38px
    }

    h2 {
        font-size: 22px;
        line-height: 20px;
    }
    h3 {
        font-size: 14px;
    }
    p {
        font-size: 14px;
        margin-bottom: 10px;
    }

}

.product:hover {
    .product_text {
        display: flex;
    }
    .product_img {
        opacity: 0.1;
    }
}


.bbA_img .arrow,
.bbB_img .arrow {
    background: #fff url("../img/arrow_b.png") no-repeat;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 48px;
    height: 48px;
    margin-bottom: 19px;
}

.exclusive {
    margin-top: 120px;
    display: flex;

    h3 {
        margin-top: 228px;
    }
}

.exclusive_a {
    width: 683px;
    min-height: 683px;
    position: relative;
}

.exclusive_b {
    width: 570px;
    height: 570px;
    margin-bottom: 30px;
    position: relative;

    h3 {
        margin-top: 186px;
    }
    p {
        width: 332px;
    }

}

.group_b {
    position: relative;
}

.exclusive_img {
    width: 100%;
    min-height: 100%;
    position: absolute;
}

.exclusive_text {
    position: absolute;
    padding-left: 50px;
}

.trend {
    margin-bottom: 90px;
    h3 {
        font-size: 36px;
        line-height: 36px;
        letter-spacing: -1px;
        margin-bottom: 4px;
    }
}

.slider-2 {
    h3 {
        padding-top: 287px;
        color: #e53935;
    }
}

.follow_apps {
    min-height: 516px;
    background: url("../img/back-img.jpg");
    h3 {
        padding-top: 125px;
    }
    a + a {
        margin-left: 7px;
    }
}



.button_apps:hover {
    filter: drop-shadow(0px 0px 5px gray);
}


.footer {
    background-color: #f7f7f7;
    min-height: 384px;

    h3 {
        color: #6c6c6c;
        font-size: 18px;
        font-weight: 700;
        line-height: 14px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    p {
        margin-top: -16px;
        color: #6c6c6c;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: -0.3px;
    }

    ul {
        margin-top: -10px;
        list-style: none;
    }
    ul a {
        color: #212121;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
    h4,
    h4 a {
        color: #6c6c6c;
        font-size: 12px;
        font-weight: 700;
        line-height: 12px;
        letter-spacing: 0.4px;
        text-transform: uppercase;
    }
    h4 a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.useful_info {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    width: 420px;

    h3 {
        width: 100%;
    }
}

.contacts {
    width: 220px;
}

.follow_email {
    width: 370px;
}

.footer_head {
    padding-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_foot {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block_icon_soc {
    display: flex;
    justify-content: center;

}

.icon_soc {
    height: 30px;
    width: 30px;
    background: #6c6c6c;
    border-radius: 50%;
    margin: 0 3px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;

    &:hover {
        transform: rotate(360deg);
    }
}

.icon_fb:hover {
    background: #3b5998;
}

.icon_tw:hover {
    background: #00aced;
}

.icon_gp {
    background: #6c6c6c url("../img/google_plus.png") no-repeat;
    background-size: 14px;
    background-position: center
}

.icon_gp:hover {
    background: #dd4b39 url("../img/google_plus.png") no-repeat;
    background-size: 14px;
    background-position: center;
}

.icon_pt:hover {
    background: #cb2027;
}



.email {
    margin-top: 20px;
    position: relative;
    width: 370px;
}

input[type="email"] {
    position: absolute;
    border: 2px solid #d9dee1;
    font-size: 15px;
    padding-left: 18px;
    padding-right: 45px;
    width: 305px;
    height: 48px;
}

.button_email {
    color: #d9dee1;
    font-size: 24px;
    position: absolute;
    background: none;
    border: none;
    padding: 9px;
    margin-top: 2px;
    padding-bottom: 11px;
    right: 0px;
}

.button_email:active {
    outline: 2px solid deepskyblue;

}

.button_email:hover {
    cursor: pointer;
}



.product_id {
    //    display: flex;
    //    flex-wrap: wrap;
    //    justify-content: space-around;
    .product_id_images {
        max-width: 570px;
        margin: 0px 30px 50px 30px;
        display: flex;
        flex-wrap: wrap;
        float: left;
        justify-content: center;
        position: relative;

        .product_id_img {
            height: 570px;
            width: 570px;
            z-index: 0;
        }
        .product_id_mini {
            width: 100px;
            height: 100px;
            padding: 20px 10px 0px;
        }
    }
    .product_desc {
        text-align: center;
        min-height: 600px; //        width: 500px;
        padding: 0px 30px;
    }
    h2 {
        font-size: 35.98px;
        font-weight: 700;
    }
    h3 {
        font-size: 18px;
        font-weight: 700;
        line-height: 36px;
        color: #e53935;
    }
    .price {
        font-weight: 300;
        font-size: 36px;
        line-height: 72px;
        text-align: center;

        & span{
            font-size: 72px;
        }
    }
    .price_old {
        color: #b4b4b4;
        font-size: 20px;
        line-height: 20px;

        & span{
            font-size: 36px;
            font-weight: 100;
            position: relative;

            &::after {
                border-bottom: 2px solid;
                margin: 0px -45px 0px -35px;
                position: absolute;
                content: "";
                left: 0;
                right: 0;
                top: 50%;
            }
        }
    }
    .order_us {
        width: 510px;
        height: 70px;
        border-radius: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        margin: 10px auto 40px;
        background: #f44336;
        color: #fff;
        letter-spacing: 7px;
    }
    .order_us img {
        filter: brightness(1000%);
    }

    p {
        color: #212121;
        font-size: 16px;
        line-height: 22px;
        text-align: left;
        margin: 10px 0px;
    }
}

.discount{
    transform: rotate(45deg);
    font-size: 28px;
    color: #fff;
    top: 46px;
    right: 28px;
    position: absolute;
    z-index: 1;

}
.discount_line1 {
    border-top: 163px solid #f44336;
    transform: matrix(1, 0, -1, -1, 0, 0);
    width: 83px;
    position: absolute;
    top: 0px;
    right: -1px;
    z-index: 0;
}
.discount_line2{
    position: absolute;
    border-right: 89px solid #fff;
    padding-top: 150px;
    right: 0;
    top: 0;
    margin: 30px -90px;
    z-index: 0;
}

.order_us_red{
    .order_us();
        height: 48px;
        background: #f44336;
        color: #fff;
}
.order_us_red:hover{
        background-color: orange;
        color: #fff;
        box-shadow: 4px 8px 18px 0.6px rgba(33, 33, 33, 0.35);
        transition: all 1s;
        cursor: pointer;;

}



.block_contact_maps {
    margin: 70px 0px;
    h3 {
        color: #6c6c6c;
        font-weight: 700;
    }
    .p_f_bold {
        color: #000;
        font-weight: 700;
    }
}









/*-------------------mediascreen---------------------------*/

@media screen and (max-width: @width-site) {
    .new_item .block_img,
    .trend .block_img,
    .block_img {
        min-width: 800px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .new_item .block_img {
        min-width: 1100px
    }
    .footer_adaptive {
        min-width: 1054px;
    }

    .header_adaptive {
        min-width: 800px;
    }
    .product_id {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .product_id_img {
            height: 570px;
        }
        .product_desc {
            min-width: 500px;
            display: flex;
            flex-direction: column;
        }
    }
}


@media screen and (max-width: 1000px) {
    @padding-site: 40px;

    .padding_site {
        padding-left: @padding-site;
        padding-right: @padding-site;
    }

    .header{
        display: flex;
        flex-direction: column;
        position: absolute;
    }
    .menu{
        padding-top: 20px;
    }

    .new_item .block_img,
    .trend .block_img,
    .block_img {
        min-width: 544px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .basket_list{
        flex-direction: column;
        align-items: center;
    }

    .new_item .block_img {
        max-width: 790px;
    }

    .line_menu {
        min-width: 544px;
    }
    .container {
        max-width: 1000px;
        min-width: 500px;
    }

    .nav_slider {
        display: flex;
        justify-content: center;
    }

    .exclusive {
        margin-top: 120px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        div {
            width: @width-site / 2;
        }
    }

    .footer_head {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .footer_foot {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    .footer_adaptive {
        min-width: 500px;
    }

    .useful_info,
    .contacts,
    .follow_email,
    .footer_foot h4,
    .block_icon_soc {
        margin-bottom: 30px;
    }

}

/*------------------- END mediascreen ---------------------------*/

.block_exclusive_2 {
    margin-bottom: 90px;
}

.delete_product {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.messages {
    position: absolute;
    z-index: 2;
    list-style-type: none;
    border-radius: 6px;
    padding: 6px 0px;
    background-color: #39ff737d;

}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.default_form_create {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    width: 520px;
    
    color: #212121;
    font-size: 18px;
    font-weight: 300;
    
    input, 
    select, 
    textarea {
        margin-bottom: 10px;
        margin-top: 10px;
        border: 1px solid #c2c2c2;
        border-radius: 5px;
        min-height: 30px;
        padding-left: 5px;
        min-width: 20px;
    }
    input[placeholder]{
        font-style: italic; 
    }
    input[type='checkbox']{
        margin-right: 10px;
        min-height: 15px;
    }

    label{
    margin-top: 10px;
    margin-bottom: 5px;
    }
    
    .helptext{
        color: #969696;
        font-style: italic;
        font-size: 14px;
        margin: -25px 0px 25px;
    }
     .errorlist {
        color: red;
    }
}

.search_inline{
    display: flex;
    width: 1000px;
    input{
        margin: 0px 10px 10px;
    }
}

.pagination {
    display: flex;
    width: 320px;
    margin: auto;
    
    span {
        min-width: 98px;

        &:first-child {
            text-align: right;
        }
    }

    a+a{
            border-left: 1px solid #c2c2c2;
        }
    
    .block,
    .block-first, 
    .block-last{
        align-items: center;
        display: flex;
        justify-content: space-around;
        border: 1px solid #c2c2c2;
        margin-bottom: 20px;
        height: 30px;
    }
    .block{
        border-right: 0px;
    }
    .block-first{
        border-radius: 10px 0px 0px 10px;
        border-right: 0px;
    }
    .block-last{
        border-radius: 0px 10px 10px 0px;
    }
    
    .block-first, 
    .block-last{
        padding: 0px;
        a {
            padding: 0px 18px;
        }
        .padd-one-button{
            padding: 0px 44px;
        }
}
    .padd-bl-center{
        padding: 0 15px;
    }
}

.bb_slider{
    width: 800px;
    height: 468px;
    margin: auto;
}

.form_invoice{
    min-width: 1000px;
    .total_cost{
        color: #000;
    }
}
.form_invoice_no{
    min-width:400px;
}

.table_invoice{
    text-align: center;
    margin: 40px 0px;
}

.table_invoices{
    margin: 40px 0px;
    min-width: 800px;
    text-align: center;
    display: table;
    border-collapse: collapse;
    box-shadow: 0px 2px 60px 2px rgba(33, 33, 33, 0.35);

    .tr, .td {
        padding: 10px;
        border: 1px solid #c2c2c2;

        color: #6a6a6a;
        font-size: 14px;
        font-weight: 400;
    }

    .tr {
        display: table-row;

        padding: 1px;
        text-decoration: none;
        &:hover{
            background-color: #f5f5f5;
        }
        &:first-child:hover{
            background-color: #fff;
        }
    }
    .td {
        display: table-cell;
        &:first-child{
            font-weight: 700;
        }
    }

    span .td {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 1.5px;
        text-transform: uppercase;
    }
    .inv_sent_to_proceed{
        background-color: #ddf2ff;
    }
}

.customer_info{
    margin: -50px 0px 20px;
    h3{
        line-height: 32px;
        color: #6a6a6a;
    }
}

.btn-default{
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 15px;
    margin-right: 15px;

    &:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }
}

.group-span-filestyle{
    &:focus{
        outline: none;
    }
    & + input[type='text']{
    min-width: 316px;
    }
}

.delete-row,
.add-row{
    position: relative;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    display: inline-block;
    &:hover {
        opacity: 1;
    }
    &:before,
    &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}

.add-row{
    &:before {
        transform: rotate(0deg);
    }
    &:after {
        transform: rotate(90deg);
    }
}

.disabled{
    display: none;
}

.prices_in_form_product{
    display: flex;
    justify-content: space-around;
    align-items: baseline;

    select{
        min-width: 120px;
        cursor: not-allowed;
        &[readonly]{
            background-color: #eee;
            pointer-events: none;
        }
    }
    input{
        width: 120px;
    }
}

.not-allowed{
    cursor: not-allowed;
    label{
        margin-right: 20px;
    }
}
