{% extends "mainapp/base.html" %}
{% load i18n %}
{% block title %}
    {{ flatpage.title }}
{% endblock %}

{% block class_page %}
    page_contacts
{% endblock %}

{% block content %}

<header class="header_noslider padding_site">

    {% include 'mainapp/includes/inc_menu.html' %}

    <div class="slider_text group_a">
        <h2>{{ flatpage.title }}</h2>
    </div>

</header>
<main class="content">


    <section class="block_contact_maps padding_site">
        <div class="block_img">
            {{ flatpage.content|linebreaksbr }}
        </div>
    </section>


</main>

{% endblock %}